@keyframes fade-menu {
    from {
        width: 0
    }
    to {
        width: 200px;
    }
}




@keyframes make-x-1 {
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to {
        transform: rotate(-45deg);
        margin-left: 4px;
    }
}


@keyframes make-x-2 {
    from{
        transform: rotate(0deg);
        margin-left: 0;
        margin-top: 0;
    }
    to {
        transform: rotate(45deg);
        margin-left: 3px;
        margin-top: -6px;
    }
}
:root {
    --secondary-color: #F7D794;
}
#nav-bar {
    display: grid;
    height: 75px;
    width: 100%;
    background-color: #CF6A87;
}
.line {
    background-color: var(--secondary-color);
    height: 4px;
    width:30px;
    margin: 2px;
}
#hamburger {
    display: grid;
    align-self: center;
    
}

#button-container {
    margin-left: 30px;
    display: grid;
    align-self: center;
}
#menu-container {
    background-color: var(--secondary-color);
    height: 500px;
    width: 200px;
    animation-name: fade-menu;
    animation-duration: 2s;
    animation-direction: alternate;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
}

.menu-item{
    margin-left: 10px;
}

.line-x {
    background-color: var(--secondary-color);
    height: 4px;
    width:30px;
    margin: 2px;
}
#line-x-1 {
    transform: rotate(-45deg);
    margin-left: 4px;


    animation-name: make-x-1;
    animation-duration: 1s;
}


#line-x-2 {
    transform: rotate(45deg);
    margin-left: 3px;
    margin-top: -6px;


    animation-name: make-x-2;
    animation-duration: 1s;
}